//WIDTH MEDIA BREAK
$break-smaller: 450px;//MOBILE
$break-small: 650px;//MOBILE
$break-medium: 1024px;//TABLET
$break-large: 1240px;//DESKTOP MORE


//PADDING
$desktop-padding: 20px;
$mobile-padding: 25px;


//MAXWIDTH
$title-maxwidth: 1100px;
$body-maxwidth: 900px;
$tabletcontent-maxwidth: 750px;

//HEIGHT BREAK
$height-break: 350px;
$desktop-input-height: 40px;
$mobile-input-height: 50px;

// DESIGN SPECIFIC
$color_default: #000000;
$color_grey: #929292;

$anim_duration_menu: .3s;

$hover-opacity: .75;
$hover-duration: .4s;
$header-duration: 0s;
